<template name="footer">

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="blue-text">Campbellsville - A Quick Look</h5>
					<p class="grey-text text-darken-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget vestibulum tortor, dignissim rutrum quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean auctor quam elit, eu hendrerit augue luctus interdum. Ut tempor commodo augue id aliquam.</p>
			
			
				</div>
				
				<div class="col l3 s12">
					<h5 class="blue-text">Related Sites</h5>
					
					<ul>
						<li><a class="deep-purple-text" href="#!">Cambellsville City Hall</a></li>
						<li><a class="deep-purple-text" href="#!">Campbellsville ...</a></li>
						<li><a class="deep-purple-text" href="#!">A Link</a></li>
						<li><a class="deep-purple-text" href="#!">A Link</a></li>
					</ul>
				</div>
				
				<div class="col l3 s12">
					<h5 class="blue-text">Connect</h5>
					<ul>
						<li><a class="deep-purple-text" href="#!">Facebook</a></li>
						<li><a class="deep-purple-text" href="#!">Twitter</a></li>
						<li><a class="deep-purple-text" href="#!">G+</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-copyright blue-text">
			
			<div class="container">
				Made by <a class="black-text text-lighten-3" href="http://m3i.io" target="_blank">M&sup3;i Studio</a>
			</div>
		</div> 
	</footer>

</template>