<template name="admin_dashboard">

    <div class="container promo admin-dashboard">
        <div class="row">
            <div class="col s12 m4 l3 admin-sidebar">
                <h3 class="center-align">Admin Dashboard</h3>
                <hr />
                <ul>
                    <li>Add An Event</li>
                    <li>Edit An Event</li>
                    <li>Add A Tour</li>
                    <li>Edit A Tour</li>
                </ul>
            </div>
                
            <div class="col s12 m8 l9 admin-content">
                
                <!--{{> yield}}-->
                
            </div>
        </div>
    </div>

</template>

