<template name="admin_dashboard">

    <div class="container promo admin-dashboard">
        <div class="row">
            <div class="col s12 m5 l4 admin-sidebar">
                <h5 class="center-align">Admin Dashboard</h5>
                <hr />
                <div class="col s12 admin-buttons center-align">
                    <a href="admin/add_schedule_item" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Event</a>
                    <hr />
                    <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Tour</a>
                </div>
            </div>
                
            <div class="col s12 m7 l8 admin-content">
                <div class="col s12 admin-schedule z-depth-1">
                    
                    {{> list_schedule}}
                        
                </div>
                
                <div class="col s12 admin-tours z-depth-1">
                    
                    {{> list_tours}}
                    
                </div>
                
            </div>
        </div>
    </div>

</template>

