<template name="admin_dashboard">

    <div class="container promo admin-dashboard">
        <div class="row">
            <div class="col s12 m4 l3 admin-sidebar">
                <h3 class="center-align">Admin Dashboard</h3>
                <hr />
                <div class="col s12 admin-buttons">
                    <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Event</a>
                    <hr />
                    <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Tour</a>
                    <hr />
                </div>
            </div>
                
            <div class="col s12 m8 l9 admin-content">
                <div class="col s12 admin-schedule">
                    
                    {{> list_schedule_item}}
                        
                </div>
                
                <div class="col s12 admin-tours">
                    
                    {{> list_tours}}
                    
                </div>
                
            </div>
        </div>
    </div>

</template>

