<template name="schedule_item">

	<div class="container event-page-container">
		<div class="row">
			<div class="col s12">
				<h2 class="center-align">{{scheduleTitle}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4 l3 event-info z-depth-2">
				<div class="col s12">
					<h6><strong>{{scheduleTitle}}</strong></h6>
				</div>
				<div class="col s12">
					<h6>{{scheduleStartDate}} | {{scheduleEndDate}}</h6>
					<p><strong>{{scheduleLoc}}</strong></p>		
				</div>
			</div>
			
			<div class="col s12 m7 l8 offset-s1 offset-m1 offset-l1 event-description z-depth-2">
				<h4>Event Information</h4>
				{{scheduleInfo}}
			</div>
		</div>
		<div class="row">
			<div class="col s12 z-depth-2">
				Buttons 
				Go
				Here
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s1">
				<div class="map-container z-depth-2" id="map">
					{{#unless geolocationError}}
						{{> googleMap name="map" options=mapOptions}}
					{{else}}
						Geolocation Failed: {{geolocationError}}
					{{/unless}}
				</div>
			</div>
		</div>
	</div>
				


</template>