<template name="swag">
	
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h2 class="center-align">Official Campbellsville Bicentennial Swag</h2>
				<h4 class="center-align">Show Off Your Town Pride!</h4>
			</div>
		</div>
		<div class="row">
			<div class="col s3 offset-s1 swag-item">
				<div class="col s12 swag-item-header">
					<h6 class="center-align">Official Campbellsville Bicentennial Cap</h6>
				</div>
				<div class="col s12 swag-item-body">
					<img src="img/cap.png" alt="Official Campbellsville Bicentennial Cap" class="responsive-img center-align" />
				</div>
				<div class="col s12 swag-item-price">
					<p>$14.95</p>
					<a class="waves-effect waves-light green btn"><i class="material-icons right">attach_money</i>Buy</a>
				</div>
			</div>
			<div class="col s3 offset-s1 swag-item">
				<div class="col s12 swag-item-header">
					<h6 class="center-align">Official Campbellsville Bicentennial T-shirt</h6>
				</div>
				<div class="col s12 swag-item-body">
					<img src="img/t-shirt.png" alt="Official Campbellsville Bicentennial t-shirt" class="responsive-img center-align" />
				</div>
				<div class="col s12 swag-item-price">
					<p>$19.95</p>
					<a class="waves-effect waves-light green btn"><i class="material-icons right">attach_money</i>Buy</a>
				</div>
			</div>
			<div class="col s3 offset-s1 swag-item">
				<div class="col s12 swag-item-header">
					<h6 class="center-align">Official Campbellsville Bicentennial Polo</h6>
				</div>
				<div class="col s12 swag-item-body">
					<img src="img/polo.png" alt="Official Campbellsville Bicentennial Polo" class="responsive-img center-align" />
				</div>
				<div class="col s12 swag-item-price">
					<p>$29.95</p>
					<a class="waves-effect waves-light green btn"><i class="material-icons right">attach_money</i>Buy</a>
				</div>
			</div>
		</div>
	</div>
			

</template>