/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
/*	width: 100%;
	height: 100%;*/ /* For at least Firefox */
/*	min-height: 100%; */
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
		  background-image: url('img/cville-main-street-dirt.jpg');
		  background-size: cover;
		  background-position: center top;
		  background-repeat: no-repeat;
	background-color: #333;
	color: #fff;
}

main {
	flex: 1 0 auto;
}

.map-container {
	width: 800px;
	max-width: 100%;
	height: 500px;	
	margin: 20px auto;
}

.event-list ul li {
	color: #000 !important;
}

.collapsible-body {
	background-color: rgba(218,218,218,0.85);
	color: #000;
}

.footer-color {
	background: #FFCD00;
}

.promo {
	background-color: rgba(255, 243, 224, 0.8) !important;
	border-radius: 10px 100px 10px 100px;
	-moz-border-radius: 10px 100px 10px 100px;
	-webkit-border-radius: 10px 100px 10px 100px;
	border: none;
	box-shadow: 0px 0px 15px 1px #6b6b6b;
	
	padding: 25px;
}

#index-banner h1 {
	text-shadow: 0px 0px 3px black;
}

.page-footer {
	background-color: rgba(255, 243, 224, 0.8) !important;
	border-radius: 50px 50px 0px 0px;
	-moz-border-radius: 50px 50px 0px 0px;
	-webkit-border-radius: 50px 50px 0px 0px;
	border: none;
	box-shadow: 0px 0px 15px 1px #6b6b6b;
}

.add_event_form, .edit_event_form {
	background-color: rgba(255, 243, 224, 0.8) !important;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 15px 1px #6b6b6b;	
}

form {
	color: #000 !important;
}

.admin-dashboard {
    margin-top: 25px;
    color: #000 !important;
}

.admin-sidebar {
    border-right: 1px solid black;
    border-radius: 0px 10px 10px 0px;
}

.admin-schedule, .admin-tours {
    border-left: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}